In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
from finn import FinnAPI

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
api = FinnAPI()

In [ ]:
df = api.search_dataframe(query="gitar")
df

In [ ]:
df.groupby("location").agg(
    {
        "price_amount": "mean",
        "id": "count",
    }
).sort_values("id", ascending=False)